<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>XploreUP</title>
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.png') }}" type="image/png">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
</head>
<body>
    <header>
        <nav class="navbar" id="navbar">
          <div class="navbar-container">
            <div class="logo">
                <a href="/">
                    <img src="{{ url_for('static', filename='images/logo.png') }}" alt="XploreUP" class="logo-img">
                </a>
            </div>
            <div class="menu-container">
              <i class="fas fa-bars menu-icon" id="menu-toggle"></i>
            </div>
            <ul class="nav-links" id="navLinks">
                <li><a href="/">Home</a></li>
                <li><a href="/comida">Comida</a></li>
                <li><a href="/super">Súper</a></li>
                <li><a href="/banco">Banco</a></li>
                <li><a href="/salud">Salud</a></li>
                <li><a href="/papeleria">Papelería</a></li>
            </ul>
          </div>
        </nav>
    </header>
    
    <div class="contenedor-principal">
        <div class="contenedor-lista">
            <h1 class="titulo-comidas">Establecimientos Súper</h1>
            
                {% for servicio in servicios %}
                    {% if servicio['categoria'] == 'Super'%}
                        <div class="establecimiento">
                            <img src="{{ servicio['imagen_url'] }}" alt="{{ servicio['nombre'] }}" class="establecimiento-imagen">
                            <div class="establecimiento-info">
                                <h2 class="establecimiento-nombre">{{ servicio['nombre'] }}</h2>
            
                                <div class="establecimiento-rating">
                                    {% for i in range(1, 6) %}
                                        {% if i <= servicio['rating']|round(0, 'floor') %}
                                            {% if servicio['rating'] >= 4 %}
                                                <i class="fa-solid fa-star estrella-verde"></i>
                                            {% elif servicio['rating'] >= 2 %}
                                                <i class="fa-solid fa-star estrella-amarilla"></i>
                                            {% else %}
                                                <i class="fa-solid fa-star estrella-roja"></i>
                                            {% endif %}
                                        {% else %}
                                            <i class="fa-regular fa-star estrella-gris"></i>
                                        {% endif %}
                                    {% endfor %}
                                </div>
            
                                <p class="establecimiento-detalle">
                                    {{ servicio['precio'] }} · {{ servicio['categoria'] }} · {{ servicio['distancia_minutos'] }} min caminando
                                </p>
            
                                <p class="establecimiento-descripcion">
                                    {{ servicio['descripcion'] }}
                                </p>
            
                                <a href="{{ servicio['maps_url'] }}" target="_blank" class="establecimiento-boton">Cómo llegar</a>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            
        </div>

        <div class="contenedor-mapa">
            <div id="mapa"></div>
        </div>

    </div>


    <script>
        const menuToggle = document.getElementById('menu-toggle');
        const navLinks = document.getElementById('navLinks');
    
        menuToggle.addEventListener('click', () => {
            navLinks.classList.toggle('show');
        });
    </script>
    
    <script>
        // Definimos el ícono rojo personalizado
        const redIcon = new L.Icon({
            iconUrl: 'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-red.png',
            shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/images/marker-shadow.png',
            iconSize: [25, 41],
            iconAnchor: [12, 41],
            popupAnchor: [1, -34],
            shadowSize: [41, 41]
        });

        const blueIcon = new L.Icon({
            iconUrl: 'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-blue.png',
            shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/images/marker-shadow.png',
            iconSize: [25, 41],
            iconAnchor: [12, 41],
            popupAnchor: [1, -34],
            shadowSize: [41, 41]
        });



        // Convertimos los servicios filtrados a un array JS
        const servicios = [
            {% for servicio in servicios %}
                {% if servicio['categoria'] == 'Super' %}
                    {
                        lat: {{ servicio['latitud'] }},
                        lng: {{ servicio['longitud'] }},
                        nombre: "{{ servicio['nombre'] }}",
                        maps_url: "{{ servicio['maps_url'] }}"
                    }{% if not loop.last %},{% endif %}
                {% endif %}
            {% endfor %}
        ];
    </script>
    <script>
        const mapa = L.map('mapa').setView([19.373201044675486, -99.18357956675294], 16);
    
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; OpenStreetMap contributors'
        }).addTo(mapa);
    
        // Agregamos los marcadores rojos
        const upMarker = L.marker([19.373201044675486, -99.18357956675294], { icon: blueIcon }).addTo(mapa);
        upMarker.bindTooltip("Universidad Panamericana", { permanent: true, direction: 'top', offset: [0, -10], className:'tooltip-bold' }).openTooltip();
        upMarker.bindPopup("<b>Universidad Panamericana</b><br>Augusto Rodín 498");

        // Marcadores de los servicios  
        servicios.forEach(servicio => {
            const marker = L.marker([servicio.lat, servicio.lng], { icon: redIcon }).addTo(mapa);
            marker.bindPopup(`<b>${servicio.nombre}</b><br><a href="${servicio.maps_url}" target="_blank">Cómo llegar</a>`);
            marker.bindTooltip(servicio.nombre, { permanent: true, direction: 'top', offset: [0, -10] }).openTooltip();
        });
    </script>
    <script src="{{ url_for('static', filename='js/encuesta.js') }}"></script>

     <footer class="footer">
        <div class="footer-content">
          <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo XploreUP" class="footer-logo">
          <img src="{{ url_for('static', filename='images/up.png') }}" alt="Logo Universidad Panamericana" class="footer-logo">
        </div>
      </footer>
</body>
</html>